@font-face {
  font-family: "High Tower";
  src: url("../font/HTOWERT.TTF");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Neutra Text";
  src: url("../font/NeutraText-Book.ttf");
  font-style: normal;
  font-weight: 500;
}
body {
  font-family: "High Tower", sans-serif;
  font-size: 10px;

  line-height: 1.5;
  color: #303030;
  background-image: url("../img/emblem.png"), url("../img/emblem.png"),
    url("../img/background.png");
}
/* Utilities */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: #303030;
}
.container {
  margin: 0 auto;
  display: table;
}
.authorization .link,
.menu-list .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
}
.authorization .link:is(:hover, :focus),
.menu-list .link:is(:hover, :focus) {
  color: #855861;
}
.pad {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 11px 11px 20px rgba(0, 0, 0, 0.45);
}
/* Header */
header {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  backdrop-filter: blur(4px);
}
.logo-img {
  display: block;
  float: left;
  width: 456px;
  padding-left: 15px;
  margin-top: 1px;
  margin-bottom: 4px;
}
.authorization {
  float: right;
  padding-top: 8px;
}
.navigation {
  clear: left;
}
.list-item {
  float: left;
}
.list-item:not(:last-child) {
  margin-right: 15px;
}
.hamburger-menu {
  position: relative;
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  margin: 0;
  padding: 30px 0 200px 20px;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 1;
 
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-close-btn {
  position: relative;
background-image: url(../img/icons8-close-30.png);
width: 30px;
height: 30px;
border: none;
background-color: transparent;
top: -18px;
cursor: pointer;
}
.mobile-auth {
  font-weight: 600;
  text-decoration: underline;
}
.mobile-list-item {
font-size: 16px;
  display: block;
  padding: 10px 50px;
  transition-duration: 0.25s;
}
.collection-heading {
  color: #4b4b4b;
  font: 400 60px/72px "High Tower";
  padding-top: 16px;
  padding-bottom: 21px;
}
.collection-item {
  display: inline-block;
  margin: 0 18px;
}
.collection {
  margin-bottom: 50px;
  padding-bottom: 37px;
  text-align: center;
}
.info {
  padding: 36px 36px 20px 36px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.info-container {
  float: left;
}
.info-container:last-child {
  float: right;
}
.info-container:nth-child(1) {
  margin-right: 75px;
}
.info-img {
  display: block;
}
.info-desc {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.16;
  margin-top: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-desc-mail {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.16;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 17px;
}
.img-link:hover > .info-desc {
  color: #deafb9;
}
.background {
  position: relative;
  background-color: #303030;
  width: 430px;
  margin: 0 auto;
}
.new-wine > .pad {
  width: 470px;
  padding: 20px 0;
  float: left;
}
.new-wine > .pad:nth-child(2n + 1) {
  margin-right: 20px;
}
.new-wine-header {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: "High Tower";
  color: #fff;
  padding: 15px 0 16px;
}
.new-wine-img {
  display: block;
  margin-bottom: 16px;
}
.new-wine-desc {
  font-family: "Neutra Text";
  color: aliceblue;
  padding: 0 25px;
  margin-bottom: 13px;
}
.purchase {
  padding: 0 25px 22px;
}
.purchase-element:not(:last-child) {
  float: left;
  margin-right: 32px;
  margin-top: 12px;
}
.price-element {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}
.qty-label {
  color: #fff;
  font-size: 18px;
  font-family: "Neutra Text";
  line-height: 1.5;
  margin-right: 9px;
}
.qty-input {
  height: 30px;
  width: 50px;
  box-shadow: inset 1px 1.7px 5px rgba(0, 1, 1, 0.23);
  font-family: "Neutra Text";
  font-size: 18px;
  padding: 6px 0 8px 5px;
  line-height: 1;
  box-sizing: border-box;
  border: none;
}
.submit {
  display: block;
  border: transparent;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-family: "Neutra Text";
  line-height: 1.5;
  margin-top: 26px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit:is(:hover, :focus) {
  text-decoration: underline;
  color: #fff;
}
.wine-promo {
  margin-bottom: 50px;
}
/* Form */
.form {
  background-color: #e9e8e8;
  padding: 2px 15px 20px 15px;
  width: 210px;
  margin: 0 18px;
}
.form-title {
  font-size: 16px;
  margin-bottom: 2px;
  text-align: center;
}
.form-lable {
  font-size: 16px;
}
.form-lable:not(:first-child) {
  margin-top: 4px;
}
.form-input {
  display: block;
  height: 30px;
  width: 100%;
  box-shadow: inset 1px 1.7px 5px rgba(0, 1, 1, 0.23);
  border: none;
  padding: 7px 0 7px 10px;
  box-sizing: border-box;
}
.footer {
  background-color: #2d2d2d;
  padding-top: 31px;
  padding-bottom: 64px;
  float: left;
  width: 100%;
}
.about-us-heding {
  color: #fff;
  font: 500 18px/18px "Neutra Text";
  width: 205px;
  margin-bottom: 14px;
  border-bottom: #fff 1px solid;
}

.about-container {
  float: left;
}
.art{
  clear: left;
  float: left;
  padding-left: 51px;
  color: #fff;
  font: normal 500 14px/43px "Neutra Text";
  background-repeat: no-repeat;
}
.art:hover{
  text-decoration: underline;
}
.mail-art{
  background-image: url(../img/mail.png) ;
}
.address-art{
  background-image: url(../img/phone.png);
}
.about-list-link,
.address-link {
  color: #fff;
  font: normal 500 14px/18px "Neutra Text";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-container:nth-child(3) {
  float: right;
}
.social-link-item {
  float: left;
}
.default {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-size: contain;
}
.social-facebook {
  background: url(../img/facebook.png) no-repeat;
}
.social-twitter {
  background: url(../img/twitter.png) no-repeat;
}
.social-pinterest {
  background: url(../img/pinterest.png) no-repeat;
}
.social-link-item:not(:last-child) {
  margin-right: 20px;
}
.about-container:nth-child(2) {
  margin-left: calc(50% - 270px);
}

@media screen and (min-width: 1201px) {
  .slider {
    width: 1200px;
    margin: 0 auto;
    display: table;
    margin-bottom: 50px;
   
  }
  /* .viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
  /* z-index: -1; */
/* }
  .slider-wrap {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: 1500ms;
  
  }
  .slider-wrap li {
    list-style: none;
    display: inline;
    float: left;
} */ 
.menu-btn {
  display: none;
}
.marquee-panels {
  display: none;
}
.marquee-container {
  position: relative;
  overflow: hidden;
}
.marquee-photos {
  position: absolute;
  display: none;
}
.marquee-nav {
  position: absolute;
  top: 95%;
  left: 50%;
}
.dot:hover {
  opacity: 1;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
 
}
}
@media screen and (max-width: 1200px) {
  .menu-btn {
    display: none;
  }
  .slider {
    width: 100%;
    margin: 0;
    float: left;
    margin-bottom: 50px;
  }
  .slider-img {
    width: 100%;
    height: 100%;
  }

  /* .viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
  .slider-wrap {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: 1500ms;
  
  }
  .slider-wrap li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
} */

}
@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
  .navigation {
    float: right;
    clear: right;
    margin-top: 14px;
  }
  .authorization {
    float: right;
    padding-top: 0;
    margin-top: 16px;
  }
  .list-item:not(:last-child) {
    margin-right: 24px;
  }
  body {
    font-size: 14px;
    background-position: top 0 left -466px, bottom 0px right -466px, center;
    background-size: 1024px, 1024px, cover;
    background-repeat: no-repeat;
  }
  .header {
    position: relative;
  }
  header {
    position: absolute;
    z-index: 1;

  }
.prev {
  left: 40px;
  /* z-index: -1; */
}
  
.next {
  right: 40px;
  /* z-index: -1; */
}
  .viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;

}
  .slider-wrap {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: 1500ms;
  
  }
  .slider-wrap li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}
}
@media screen and (min-width: 769px) {
  .hamburger-menu {
    display: none;
  }
  header {
    position: absolute;
  }
  .arrow {
    width: 48px;
  height: 48px;
  border-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  margin-top: -100px;
  cursor: pointer;
 
 }
.prev {
border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
  left: 180px;
 
}
  
.next {
 border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  transform: rotate(-135deg);
  right: 180px;
  
}
}
@media screen and (min-width: 769px) and (max-width: 960px) {
  body {
    background-size: 500px, 500px, cover;
    background-position: top 0 left -304px, bottom 0px right -304px, center;
    background-repeat: no-repeat;
  }
  .container {
    width: 768px;
  }
  .logo-img {
    width: 356px;
  }
  .navigation {
    float: right;
    clear: right;
    margin-top: 11px;
  }
  .authorization {
    padding-top: 13px;
  }
  .list-item {
    padding-bottom: 4px;
  }
  .collection-heading {
    font-size: 46px;
    line-height: 37px;
    font-weight: 500;
  }
  .collection-img {
    width: 213px;
  }
  .info-container:nth-child(1) {
    margin-right: 9px;
  }
  .info-img {
    width: 200px;
  }
  .form {
    background-color: #e9e8e8;
    padding: 2px 15px 20px 15px;
    width: 200px;
    margin: 0 26px;
  }
  .form-title,
  .form-lable {
    font-size: 14px;
    text-transform: none;
  }
  .form-input {
    height: 24px;
  }
  .info-desc-mail {
    margin-top: 10px;
  }
  .new-wine > .pad {
    width: 374px;
  }
  .background,
  .new-wine-img {
    width: 340px;
  }
  .new-wine-header {
    font-size: 18px;
  }
  .new-wine-desc {
    font-size: 13px;
  }
  .price-element,
  .qty-label,
  .submit {
    font-size: 14px;
  }
  .submit {
    margin-top: 14px;
  }
  .purchase-element:not(:last-child) {
    margin-right: 12px;
  }
  .crest-emblem {
    width: 98px;
  }

.prev {
  left: 30px;

}
  
.next {
  right: 40px;
 
}

}
@media screen and (max-width: 768px) {
  .menu-btn {
    background-image: url(../img/icons8-hamburger-menu-30.png);
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    position: absolute;
   margin-top: -13px;
    right: 15px;
    display: block;
    cursor: pointer;
  }
  .container {
    width: 96%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
  }
  .header-cont {
    display: none;
  }
  header {
    float: left;
  }
  .info-container {
    display: inline-block;
    float: none;
  }
  .info-container:last-child {
    float: none;
  }
  .info-container:not(:last-child) {
    margin-bottom: 15px;
  }
  .info-container:nth-child(1) {
    margin-right: 24px;
  }
  .info {
    text-align: center;
  }
  .form-title,
  .form-lable {
    text-transform: none;
  }
  .form-lable {
    display: block;
    text-align: left;
  }
  .form {
    margin: 0;
  }
  .new-wine > .pad {
    float: none;
    display: inline-block;
  }
  .new-wine {
    text-align: center;
  }
  .new-wine-desc {
    text-align: left;
    font-size: 14px;
  }
  .about-us-heding {
    width: max-content;
  }
  .arrow {
    width: 48px;
  height: 48px;
  border-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  margin-top: -160px;
  cursor: pointer;
  
 }
.prev {
border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
  left: 40px;
}
  


.next {
 border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  transform: rotate(-135deg);
  right: 40px;
  /* z-index: -1; */
}




}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .logo-img {
    width: 356px;
    margin-bottom: 5px;
  }
  .menu-btn {
    top: 33px;
  }
  .collection-heading {
    font-size: 37px;
    line-height: 27px;
  }
  .collection-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .new-wine-header {
    font-size: 20px;
  }
  .new-wine > .pad:nth-child(2n + 1) {
    margin-right: 0;
  }
  .about-container:nth-child(2) {
    margin-left: calc(50% - 170px);
  }
  .arrow {
    margin-top: -200px;
   }
  
  
}
@media screen and (max-width: 480px) {
  .logo-img {
    width: 237px;
  }
  .body {
    font-size: 14px;
    background-size: 370px, 370px, cover;
    background-position: top 0 left -225px, bottom 0px right -225px, center;
    background-repeat: no-repeat;
  }
  .collection-heading {
    font-size: 25px;
    line-height: 27px;
  }
  .collection-img {
    width: 270px;
  }
  .collection-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .info-container:nth-child(1) {
    margin-right: 0;
  }
  .info {
    text-align: center;
    padding: 36px 27px 20px 27px;
  }
  .info-desc,
  .info-desc-mail {
    font-size: 25px;
  }
  .background {
    width: 93%;
    display: table;
  }
  .new-wine-img {
    width: 100%;
  }
  .new-wine > .pad {
    width: 100%;
    padding: 14px 0;
  }
.crest-emblem {
  width: 73px;
}
.purchase-element:not(:last-child) {
  margin-right: 16px;
}
.qty-label,
.submit,
.price-element {
  font-size: 14px;
}
.submit {
  margin-top: 14px;
}
  .new-wine > .pad:nth-child(2n + 1) {
    margin-right: 0;
  }
  .mail-cont > .address-link {
    margin-left: 8px;
  }
  .about-container:nth-child(2) {
   margin-left: calc(50% - 117px);
   margin-bottom: 40px;
  }
  .about-container:nth-child(3) {
    float: left;
}

  .phone-icon {
    margin-left: 9px;
  }
  
  .arrow {
  margin-top: -70px;
  
 }
 .menu-btn {
 margin-top: 10px;
}
}