
@font-face {
  font-family: "High Tower";
  src: url("../font/HTOWERT.TTF");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "High Tower", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #303030;
  background-image: url("../img/emblem.png"), url("../img/emblem.png"), url("../img/background.png");
  background-size: 1024px, 1024px, cover; 
  background-position: top 0 left -466px, bottom 0px right -466px, center;
  background-repeat: no-repeat;
}
/* Utilities */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
margin: 0;
padding: 0;
}
.link {
  text-decoration: none;
  color: #303030;
}
.container {
  width: 960px;
  margin: 0 auto;
  display: table;
}
/* Header */
.header {
  position: relative;
}
header {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 100%;
}
.logo-img {
  float: left;
  margin-top: 1px;
  margin-bottom: 4px;
}
.header-cont {
  float: right;
}
.navigation {
  float: right;
  clear: right;
  margin-top: 14px;
}
.authorization {
  float: right;
  margin-top: 16px;
}
.authorization .link {
  padding-top: 16px;
  padding-bottom: 14px;
  text-transform: uppercase;
}
.authorization .link,
.menu-list .link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item {
  float: left;
}
.list-item:not(:last-child) {
  margin-right: 24px;
}
.menu-list .link {
  padding-bottom: 8px;
  padding-top: 14px;
  text-transform: uppercase;
}
.authorization .link:is(:hover, :focus),
.menu-list .link:is(:hover, :focus) {
  text-shadow: 1px 1px 2px #303030;
}
/* Slider */
.slider-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* Info */
.pad {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 11px 11px 20px rgba(0, 0, 0, 0.45);
  /* temporary */
  margin-bottom: 500px;
}
.info {
  padding: 36px 36px 20px 36px;
}

.info-container {
  float: left;
}
.info-container:not(:last-child) {
  margin-right: 83px;
}

.info-desc {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-desc:is(:hover, :focus) {
  text-shadow: 1px 1px 2px #303030;
}
/* Form */
.form {
  background-color: #E9E8E8;
  padding: 2px 15px 20px 15px;
  display: table;
  margin: 0 auto;

}
.form-title {
  font-size: 16px;
  margin-bottom: 2px;
  text-align: center;
}
.form-lable {
  font-size: 16px;
}
.form-lable:not(:first-child) {
margin-top: 4px;
}

.form-input {
  display: block;
  height: 30px;
  width: 210px;
  box-shadow: inset 1px 1.7px 5px rgba(0, 1, 1, 0.23);
  border: none;
}





/* Footer */
.footer {
  background-color: #2d2d2d;
  padding-top: 31px;
  padding-bottom: 79px;
}

